.card-vehicle {
  padding: 5px;
  background: #151515;
}

.btn {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn:hover {
  transform: scale(1.05);
}

.card-hover {
  transition: all 0.3s ease;
}

.card-hover:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(236, 109, 81, 0.3);
}
